name: Create Semantic Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

# Make sure only one deployment can happen at a time
# To make sure Semantic Release does not run concurrently and select the same version
concurrency: release

jobs:
  automatic-release:
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    outputs:
      release_version: ${{ steps.semantic-release.outputs.release-version }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - uses: codfish/semantic-release-action@v5
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PAT }}
